.App {

}

h2 {
  text-align: center;
}

h5 {
  align-self: center;
}

p {
  margin: 0;
}

.card {
  max-width: 30rem;
  margin: 1rem auto;
}

.card:hover {
  cursor: pointer;
  box-shadow: 5px 10px 8px #cfcfcf;
}