.welcome-landing {
    align-self: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

.input-search {
    width: 35rem;
}

.top-left{
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}