.image-complete {
    display:flex;
    flex-direction:column;
    margin-top: 3rem;
    height:100%;
    width: 100%;
  }

  .image-preview {
    width: 20rem;
  }

  .actions {
    display: inline-flex;
  }